<html>
	<head>
		<title>Calculator API</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
		<script type="text/javascript" src="{{ url_for('static',filename='scripts/script.js') }}"></script>
	</head>
	<body>
		<div class="title-container">
			<div id="home-button-container">
				<a href="{{ url_for('home') }}">
					<button id="home-button"> Home </button>
				</a>
			</div>
			<h1>Add Operation</h1>
		</div>
		
		<div class="form-container">
			<div id="num1-form">
				<label for="num1"> First number: </label>
				<br>
				<input type="text" id="num1" name="num1">
			</div>
			<br>
			<div id="num2-form">
				<label for="num2"> Second number: </label>
				<br>
				<input type="text" id="num2" name="num2">
				<br><br>
				<form action="javascript:add_submit()">
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	
	<script>
		var api_url = "{{ url_for('add_post_call') }}"
	</script>
		
	</body>
</html> 
