<html>
	<head>
		<title>Calculator API</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
		<script type="text/javascript" src="{{ url_for('static',filename='scripts/script.js') }}"></script>
	</head>
	<body>
		<div class="title-container">
			<h1>Welcome to my Calculator API!</h1>
		</div>
		
		<div class="button-container">
			<div id="add" class="button">
				<button type="button" onclick="add_button_redirect();">add</button>
			</div>
			<div id="sub" class="button">
				<button type="button">sub</button>
			</div>
			<div id="mul" class="button">
				<button type="button">mul</button>
			</div>
			<div id="div" class="button">
				<button type="button">div</button>
			</div>
		</div>
	</body>
</html> 
