body {
	background-color: 001514;
	color: FBFFFE;
}

.title-container {
	position: relative;
	font-size: 2.5vw;
	text-align: center;
	border-style: solid;
	border-color: 6B0504;
	border-width: thick;
	margin: 1vw;
	overflow: auto;
}

.button-container {
	border-style: solid;
	margin: 1vw;
	padding: 5vw;
}

.button {
	margin: 1vw;
}

#home-button-container {
	position: absolute;
	left: 1vw;
	top: 1vw;
}

#home-button {
	width: 10vw;
	height: 6vw;
	border-style: solid;
	border-color: 6B0504;
	border-width: thick;
}
